@using RestSiteKursova.Models
@{
    ViewBag.Titile = "Історія замовлень | Козацька Справа";

}
@model IEnumerable<Order>
<div class="container">
    <table class="table">
        <tr>
            <th>
                Номер замовлення
            </th>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Адреса доставки
            </th>
            <th>
                Дата Замовлення
            </th>
            
            <th>
                Статус
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.ordertime)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem=>item.status)
                </td>
            </tr>
        }
</div>